# Default values for neohoods-landing
replicaCount: 1
# Domain configuration
domain: neohoods.com
frontend:
  image:
    repository: ghcr.io/neohoods/neohoods-landing-app
    tag: 0.0.16
  service:
    type: NodePort
    port: 80
    nodePort: 30022
